:root {
    --primary: #839ea4;
    --secondary: #eee;
    --hf-height: 3rem;
}
body {
    padding: 0;
    margin: 0;
    font-family: lucida;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100vh;
}

header, footer {
    text-align: center;
    font-size: 2rem;
    padding: 0.5rem;
    background-color: var(--primary);
    color: white;
    height: var(--hf-height);
    /* border: 3px black solid; */

}
main {
    flex: 1;
}

h1 {
    /* padding: 0 1.5rem; */
    color: var(--secondary);
    font-size: 2.75rem;
    /* text-shadow: 0 0 1rem rgba(0,0,0,.5); */
    text-shadow: 2px 2px 3px rgba(0,0,0,.5);
}
.wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    /* padding:0 1.5rem; */
}
main  {
  background: linear-gradient(to bottom right, #e1e1e1, #efe); /* Chrome 10-25, Safari 5.1-6 */
    background-image: url('./shul_2.png');
    background-attachment: fixed;
    background-size: cover;
}
.frosted {
    backdrop-filter: blur(15px);
    background-color: rgba(255,255,255,.2);
    border-radius: 10px;
    margin: .55rem .75rem;
    padding: .75rem;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    color: white;
    text-shadow: 2px 2px 3px rgba(0,0,0,.5);
}
.frosted:first-of-type{
    margin-left: calc(.75rem*2);
}
.frosted:last-of-type{
    margin-right: calc(.75rem*2);
}
footer > .wrapper {
    padding: .25em 0;
}
footer .col {
    margin-right: 0;
}

.col {
    /* width: 33%; */
    flex: 1 1 0px;
    /* margin-right:1.5rem; */
    /* padding: 0 1.5rem; */
    /* display: flex; */
    /* flex-direction: row; */
}
.col-2 {
    flex: 2 1 0px;
}
.col-3 {
    flex: 3 1 0px;
}
.col:last-of-type) {
    margin-right: 0;
}

.row {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.33rem;
}
.dots {
    flex: 1;
    border-bottom: 2px white dotted;
    margin: 0 0.5rem;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    header, footer {
        font-size: 1.5rem;
    }
    h1 {
        text-align: center;
        font-size: 1.5rem;
    }
    main > .wrapper {
        flex-direction: column;
        padding-bottom: 2rem;
    }
    .wrapper {
    font-size: 1.1rem;

    }
    main {
        overflow-y: scroll;
    }
.frosted, .frosted:first-of-type, .frosted:last-of-type{
    margin: .55rem 0;
}
}
