body {
    padding: 0;
    margin: 0;
    font-family: lucida;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100vh;
}

header, footer {
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    background-color: #033811;
    color: white;
    height: var(--hf-height);

}
main {
    flex: 1;
}

h1 {
    /* padding: 0 1.5rem; */
    color: #0f5e16;
    font-size: 2.25rem;
}
.wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    padding:0 1.5rem;
}
main > .wrapper {
  background: linear-gradient(to right, #e1e1e1, #efe); /* Chrome 10-25, Safari 5.1-6 */
}
footer > .wrapper {
    padding: .25em 0;
}
footer .col {
    margin-right: 0;
}

.col {
    /* width: 33%; */
    flex-grow: 1;
    margin-right:1.5rem;
    /* padding: 0 1.5rem; */
    /* display: flex; */
    /* flex-direction: row; */
}
.col:last-of-type) {
    margin-right: 0;
}

.left {
    /* border-right: 2px grey solid; */
    min-width: 66%;
}
.right {
    box-shadow: -3px 0 0 grey;
    padding-left: 1.5rem;
}

.row {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.33rem;
}
.dots {
    flex: 1;
    border-bottom: 2px black dotted;
    margin: 0 0.5rem;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
